/* main Visual */
	.mvisual {position:relative; height:100vh; line-height:1.6;}
	.main_slide {position:relative;}
	.main_slide .box {position:relative; height:100vh; padding:90px 0 80px;}
	.main_slide .bg {position:absolute; top:0; left:0; width:100%; height:100%;}
	.main_slide .bg > img {width:100%; height:100%; object-fit:cover;}
	.main_slide .box > .flex {position:relative; justify-content:space-between; align-items:center; height:100%; z-index:1;}
	.main_slide .txt {max-width:calc(100% - 500px); color:#fff; display:flex; flex-direction:column; align-items:flex-start;}
	.main_slide .txt .tit {font-size:88px; font-weight:700; line-height:1;}
	.main_slide .txt p {font-size:20px; margin-top:16px;}
	.main_slide .txt .info {margin-top:96px;}
	.main_slide .txt .info li {font-size:24px; line-height:1.5; padding-left:34px; background:url('/images/icon_leaf.svg') no-repeat 0 50%;}
	.main_slide .txt .btn_link {position:relative; font-size:24px; color:#fff; font-weight:600; line-height:80px; height:80px; padding:0 48px; margin-top:80px; border-radius:40px; box-shadow:0 4px 20px 0 rgba(0, 0, 0, 0.08); z-index:1; border:0;}
	.main_slide .txt .btn_link:before,
	.main_slide .txt .btn_link:after {content:""; position:absolute; top:0; left:0; width:100%; height:100%; border-radius:inherit; z-index:-1; transition:.2s linear;}
	.main_slide .txt .btn_link:before {background:#191F28; opacity:1;}
	.main_slide .txt .btn_link:after {background:linear-gradient(90deg, #0040A7 0%, #0354A4 25%, #0B7496 50%, #108C85 75%, #50B548 100%); opacity:0; mask:none; -webkit-mask:none;}
	.main_slide .icons {max-width:500px; display:flex; flex-direction:column; gap:32px;}
	.main_slide .icons li {position:relative; padding-left:110px; height:86px; display:flex; flex-direction:column; gap:2px;}
	.main_slide .icons i,
	.main_slide .icons i:before {position:absolute; top:0; left:0; width:100%; height:100%; border-radius:50%;}
	.main_slide .icons i {position:absolute; top:0; left:0; width:86px; height:86px; background:#72D3AE33 no-repeat 50% 50%; display:flex; justify-content:center; align-items:center;}
	.main_slide .icons i:before {content:""; border-top:#fff 1px solid; border-bottom:#fff 1px solid; transform:rotate(-45deg); opacity:.7;}
	.main_slide .icons i img {width:auto; height:auto;}
	.main_slide .icons strong {display:block; font-size:20px; color:#fff; font-weight:600;}
	.main_slide .icons p {font-size:16px; color:#fffc; line-height:1.65;}
	.main_slide .navi {position:absolute; top:50%; left:50%; z-index:10; display:flex; align-items:center; padding-left:8px; margin-left:-800px;}
	.main_slide .navi .visual-pagination {order:1; display:flex; gap:16px; margin-right:32px;}
	.main_slide .navi .visual-pagination .swiper-pagination-bullet {position:relative; width:8px; height:8px; opacity:1; background:none;}
	.main_slide .navi .visual-pagination .swiper-pagination-bullet:before,
	.main_slide .navi .visual-pagination .swiper-pagination-bullet:after {content:""; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); border-radius:50%; transition:.2s linear;}
	.main_slide .navi .visual-pagination .swiper-pagination-bullet:before {width:100%; height:100%; background:#fff6;}
	.main_slide .navi .visual-pagination .swiper-pagination-bullet:after {width:0; height:0; background:#fff;}
	.main_slide .navi .visual-pagination .swiper-pagination-bullet-active:before {width:300%; height:300%;}
	.main_slide .navi .visual-pagination .swiper-pagination-bullet-active:after {width:100%; height:100%;}
	.main_slide .navi .arrow,
	.main_slide .navi .visual-toggle {width:32px; height:32px; background:no-repeat 50% 50%/ contain; font-size:0; flex:0 0 auto;}
	.main_slide .navi .arrow {background-image:url('/images/arrow_slide.svg');}
	.main_slide .navi .visual-prev {order:2;}
	.main_slide .navi .visual-next {order:4; transform:scaleX(-1);}
	.main_slide .navi .visual-toggle {order:3;}
	.main_slide .navi .visual-toggle.pause {background-image:url('/images/icon_pause.svg');}
	.main_slide .navi .visual-toggle.play {background-image:url('/images/icon_play.svg'); background-size:16px;}
	.mvisual .main_links {position:absolute; bottom:0; left:0; width:100%; height:80px; background:#0003; backdrop-filter:blur(10px); z-index:20;}
	.mvisual .main_links .inner {display:flex;}
	.mvisual .main_links li {width:25%; height:80px; display:flex; justify-content:center; align-items:flex-end;}
	.mvisual .main_links a {position:relative; display:flex; justify-content:center; align-items:center; gap:8px; width:100%; height:80px; font-size:20px; color:#fff; font-weight:600;}
	.mvisual .main_links a:before {content:""; display:block; width:32px; aspect-ratio:1/1; background:no-repeat 50% 50% / contain;}
	.mvisual .main_links a:after {content:""; position:absolute; bottom:0; left:0; width:100%; height:100%; border-radius:4px 4px 0 0; background:linear-gradient(96deg, #0061C7 0%, #72D3AE 100%); opacity:0; z-index:-1; transition:.2s linear;}
	.mvisual .main_links .i1 a:before {background-image:url('/images/icon_main_links01.svg');}
	.mvisual .main_links .i2 a:before {background-image:url('/images/icon_main_links02.svg');}
	.mvisual .main_links .i3 a:before {background-image:url('/images/icon_main_links03.svg');}
	.mvisual .main_links .i4 a:before {background-image:url('/images/icon_main_links04.svg');}
/* main 공통 */
	.mcon {padding:120px 0; font-size:18px; color:#191F28;}
	.mtit {position:relative; margin-bottom:48px;}
	.mtit h2 {font-size:64px; line-height:1;}
	.mtit a {color:#26282B; border-color:#D1D6DB;}
/* SPEAKERS */
	.slide_speaker {position:relative; width:calc(100% + ((100vw - 1600px)/2)); overflow:hidden;}
	.slide_speaker .swiper {width:calc(100% + 154px); padding:40px 0 40px 62px;}
	.slide_speaker .swiper-slide {position:relative; width:358px;}
	.slide_speaker .swiper-slide a {position:relative; display:block; aspect-ratio:42/54; transition:.2s linear; transition:transform 0.4s cubic-bezier(0.25, 1, 0.5, 1); transform-origin:right center;}
	.slide_speaker .swiper-slide .photo {position:absolute; top:0; left:0; width:100%; height:100%; border-radius:4px;}
	.slide_speaker .swiper-slide .photo img {width:100%; height:100%; object-fit:cover;}
	.slide_speaker .swiper-slide .photo:after {content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:linear-gradient(180deg, rgba(0, 0, 0, 0.00) 60%, rgba(0, 0, 0, 0.80) 100%);}
	.slide_speaker .swiper-slide .info {position:absolute; top:24px; left:24px; font-size:16px; color:#fff; font-weight:700; line-height:34px; padding:0 16px; border-radius:17px; background:linear-gradient(96deg, #0061C7 0%, #72D3AE 100%); z-index:1;}
	.slide_speaker .swiper-slide .btm {position:absolute; bottom:24px; left:24px; display:flex; flex-direction:column; z-index:1; max-width:calc(100% - 48px);}
	.slide_speaker .swiper-slide .session {font-size:15px; color:#72D3AE; font-weight:700; line-height:1.7;}
	.slide_speaker .swiper-slide .name {font-size:28px; color:#fff; font-weight:700; line-height:1.5; margin-top:8px;}
	.slide_speaker .swiper-slide p {font-size:16px; color:#fffc; line-height:1.65;}
	.slide_speaker .swiper-slide-active {z-index:10;}
	.slide_speaker .swiper-slide-active a {transform:scale(1.173);}
	.slide_speaker .swiper-slide-active .photo {box-shadow:0 4px 20px 0 rgba(0, 0, 0, 0.08);}
	.main_speakers .navi {display:flex; justify-content:center; align-items:center; gap:40px; margin-top:40px;}
	.main_speakers .navi .arrow {position:relative; width:48px; height:48px; border-radius:50%; border:#E5E8EB 1px solid; font-size:0;}
	.main_speakers .navi .arrow:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:#4B4F54; mask:url('/images/arrow_slide_blk.svg') no-repeat 50% 50%; -webkit-mask:url('/images/arrow_slide_blk.svg') no-repeat 50% 50%; transition:.2s linear;}
	.main_speakers .navi .speaker-prev {order:1;}
	.main_speakers .navi .speaker-next {order:3; transform:scaleX(-1);}
	.main_speakers .navi .speaker-pagination {order:2; width:auto; display:flex; justify-content:center; align-items:center; gap:8px;}
	.main_speakers .navi .speaker-pagination .swiper-pagination-bullet {width:40px; height:4px; background:#4B4F54; border-radius:0; margin:0; opacity:.1; transition:.2s linear;}
	.main_speakers .navi .speaker-pagination .swiper-pagination-bullet-active {opacity:1;}
/* PROGRAMME */
	.main_programme {position:relative; overflow:hidden; background:#F2F7FC url('/images/bg_logo.svg') no-repeat left bottom 67px;}
	.main-section-background {position:absolute; inset:0; z-index:0;}
	.main-section-background img {width:100%; height:100%; object-fit:cover;}
	.main_programme .inner,
	.main_register .inner {position:relative; z-index:1;}
	.main_programme .inner {gap:120px;}
	.main_programme .mtit {width:480px; display:flex; flex-direction:column; align-items:flex-start; gap:48px; margin:0;}
	.main_programme .mtit a {position:relative;}
	.main_programme .timetable {width:calc(100% - 600px); display:flex; flex-direction:column; gap:16px;}
	.main_programme .timetable li {position:relative; background:#fff; border-left:#0061C7 4px solid; padding:32px 40px; display:flex;}
	.main_programme .timetable .time {width:260px; font-size:20px; color:#333D4B; font-weight:600; line-height:1.6;}
	.main_programme .timetable .cont {width:calc(100% - 260px); padding-left:40px;}
	.main_programme .timetable .cont strong {display:block; font-size:24px; color:#191F28; font-weight:600; line-height:1.5;}
	.main_programme .timetable .cont p {font-size:18px; color:#191F28; line-height:1.65; margin-top:2px;}
/* REGISTER */
	.main_register {position:relative; overflow:hidden; background:linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('/images/bg_gra.avif') lightgray 0px -0.302px / 100% 292.459% no-repeat;}
	.main_register .main-section-background:after {content:""; position:absolute; inset:0; background:rgba(0, 0, 0, 0.20);}
	.main_register .flex {position:relative; flex-direction:column;}
	.main_register .mtit {color:#fff; margin-bottom:24px;}
	.main_register p {font-size:20px; color:#fff; line-height:1.6;}
	.main_register .btn_more {top:auto; bottom:0; background:#fff; box-shadow:0 4px 20px 0 rgba(0, 0, 0, 0.08); line-height:80px; height:80px; padding:0 48px; border:0; border-radius:40px;}
	.main_register .btn_more:before {display:none;}
	.main_register .btn_more:after {width:24px; height:24px;}
/* ANNOUNCEMENTS,PAST FORUM VIDEO */
	.main_board .inner {gap:120px;}
	.main_board .box {width:calc(50% - 60px);}
	.main_board .mtit h2 {font-size:48px;}
	.main_board .list {display:flex; flex-wrap:wrap; gap:16px;}
	.main_board .list li {width:calc(50% - 8px);}
	.main_board .list a {display:flex; flex-direction:column; justify-content:space-between; width:100%; height:200px; padding:24px 32px; background:#F2F4F6; border-radius:4px;}
	.main_board .list .tit {font-size:24px; color:#191F28; font-weight:600; line-height:1.5; overflow:hidden; text-overflow:ellipsis; white-space:normal; word-wrap:break-word; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2;}
	.main_board .list .date {font-size:16px; color:#6B7684; line-height:1.65;}
	.main_board .video_box a,
	.main_board .video_box img,
	.main_board .video_box iframe {display:block; width:100%; height:416px; object-fit:cover;}
	.main_board .box.main-board-full {width:100%;}

/* ------------------------------ PC Guide ------------------------------ */
@media screen and (max-width:1640px){
/* main Visual */
	.main_slide .txt .tit {font-size:76px;}
	.main_slide .txt .info li {font-size:22px;}
	.main_slide .txt .btn_link {font-size:22px;}
	.main_slide .icons {gap:28px;}
	.main_slide .icons li {padding-left:100px; height:80px;}
	.main_slide .icons i {width:80px; height:80px;}
	.main_slide .icons strong {font-size:18px;}
	.main_slide .icons p {font-size:14px;}
	.main_slide .navi {left:20px; margin-left:0; margin-top:-20px;}
/* SPEAKERS */
	.slide_speaker {width:calc(100% + 20px);}
	.slide_speaker .swiper {width:100%;}
/* ANNOUNCEMENTS,PAST FORUM VIDEO */
	.main_board .inner {gap:80px;}
	.main_board .box {width:calc(50% - 40px);}


}

/* ------------------------------ PC Guide ------------------------------ */
@media screen and (max-width:1439px){
/* main Visual */
	.main_slide .txt .tit {font-size:46px;}
	.main_slide .txt p {font-size:18px; margin-top:12px;}
	.main_slide .txt .info {margin-top:80px;}
	.main_slide .txt .info li {font-size:20px; padding-left:30px;}
	.main_slide .txt .btn_link {font-size:20px; line-height:70px; height:70px; padding:0 40px; margin-top:60px;}
	.main_slide .icons {gap:20px;}
	.main_slide .icons li {padding-left:80px; height:60px;}
	.main_slide .icons i {width:60px; height:60px; padding:18px;}
	.main_slide .icons strong {font-size:16px;}
	.main_slide .icons p {font-size:13px;}
	.main_slide .navi {margin-top:-40px;}
	.mvisual .main_links a {font-size:18px;}
	.mvisual .main_links a:before {width:28px;}
/* main 공통 */
	.mcon {padding:80px 0; font-size:16px;}
	.mtit {margin-bottom:40px;}
	.mtit h2 {font-size:50px;}
/* SPEAKERS */
	.slide_speaker .swiper {width:100%; padding:35px 0 35px 46px;}
	.slide_speaker .swiper-slide {width:26vw;}
	.slide_speaker .swiper-slide .info {top:20px; left:20px; font-size:15px; line-height:32px; padding:0 14px;}
	.slide_speaker .swiper-slide .btm {bottom:20px; left:20px; max-width:calc(100% - 40px);}
/* PROGRAMME */
	.main_programme .inner {gap:80px;}
	.main_programme .mtit {width:300px; gap:32px;}
	.main_programme .timetable {width:calc(100% - 380px); gap:12px;}
	.main_programme .timetable li {padding:28px 32px;}
	.main_programme .timetable .time {width:220px; font-size:18px;}
	.main_programme .timetable .cont {width:calc(100% - 220px); padding-left:20px;}
	.main_programme .timetable .cont strong {font-size:22px;}
	.main_programme .timetable .cont p {font-size:16px;}
/* REGISTER */
	.main_register .flex {padding-right:280px;}
	.main_register .mtit {margin-bottom:20px;}
	.main_register p {font-size:18px;}
	.main_register .btn_more {line-height:70px; height:70px; padding:0 40px;}
/* ANNOUNCEMENTS,PAST FORUM VIDEO */
	.main_board .inner {gap:60px;}
	.main_board .box {width:calc(50% - 30px);}
	.main_board .mtit h2 {font-size:40px;}
	.main_board .mtit .btn_link {position:relative; display:inline-flex; margin:20px 0 0 auto;}
	.main_board .list {gap:12px;}
	.main_board .list li {width:calc(50% - 6px);}
	.main_board .list a {height:150px; padding:18px 24px;}
	.main_board .list .tit {font-size:20px;}
	.main_board .list .date {font-size:14px;}
	.main_board .video_box a,
	.main_board .video_box img,
	.main_board .video_box iframe {height:312px;}
}

/* ------------------------------ Hover ------------------------------ */
@media screen and (min-width:1024px){
	.main_slide .txt .btn_link:hover:before {opacity:0;}
	.main_slide .txt .btn_link:hover:after {opacity:1;}
	.mvisual .main_links a:hover {height:96px;}
	.mvisual .main_links a:hover:after {opacity:1;}
	.main_speakers .navi .arrow:hover {border-color:#0061C7;}
	.main_speakers .navi .arrow:hover:before {background:#0061C7;}
	.main_register .btn_more:hover {background:#0061C7;}
}

/* ------------------------------ Tablet PC ------------------------------ */
@media screen and (max-width:1023px){
/* main Visual */
	.main_slide .box {padding:90px 0 70px;}
	.main_slide .box > .flex {flex-direction:column; justify-content:center; align-items:center; gap:20px;}
	.main_slide .txt {width:100%; max-width:100%;}
	.main_slide .txt .tit {font-size:30px;}
	.main_slide .txt p {font-size:16px; margin-top:8px;}
	.main_slide .txt .info {margin-top:50px;}
	.main_slide .txt .info li {font-size:16px; padding-left:28px; background-size:26px;}
	.main_slide .txt .btn_link {font-size:16px; line-height:60px; height:60px; padding:0 30px; margin-top:20px;}
	.main_slide .icons {gap:16px; display:none;}
	.main_slide .icons li {padding-left:70px; height:50px;}
	.main_slide .icons i {width:50px; height:50px; padding:16px;}
	.main_slide .icons strong {font-size:15px;}
	.main_slide .icons p {font-size:12px;}
	.main_slide .navi {margin-top:-25px;}
	.mvisual .main_links {height:70px;}
	.mvisual .main_links li {height:70px;}
	.mvisual .main_links a {gap:6px; height:70px; font-size:16px;}
	.mvisual .main_links a:before {width:24px;}
/* main 공통 */
	.mcon {padding:60px 0; font-size:15px;}
	.mtit {margin-bottom:30px;}
	.mtit h2 {font-size:40px;}
/* SPEAKERS */
	.slide_speaker .swiper {padding:30px 0 30px 40px;}
	.slide_speaker .swiper-slide {width:30vw;}
	.slide_speaker .swiper-slide .info {top:16px; left:16px; font-size:14px; line-height:28px; padding:0 12px;}
	.slide_speaker .swiper-slide .btm {bottom:16px; left:16px; max-width:calc(100% - 32px);}
	.slide_speaker .swiper-slide .session {font-size:14px;}
	.slide_speaker .swiper-slide .name {font-size:24px; margin-top:6px;}
	.slide_speaker .swiper-slide p {font-size:15px;}
	.main_speakers .navi {gap:30px; margin-top:30px;}
	.main_speakers .navi .arrow {width:40px; height:40px;}
	.main_speakers .navi .speaker-pagination {gap:6px;}
/* PROGRAMME */
	.main_programme {background-size:50%; background-position:right 20px top 80px;}
	.main_programme .inner {gap:40px; flex-direction:column;}
	.main_programme .mtit {width:100%; gap:24px; flex-direction:row; justify-content:space-between; align-items:center;}
	.main_programme .timetable {width:100%; gap:10px;}
	.main_programme .timetable li {padding:24px 28px;}
	.main_programme .timetable .time {width:200px; font-size:16px;}
	.main_programme .timetable .cont {width:calc(100% - 200px); padding-left:16px;}
	.main_programme .timetable .cont strong {font-size:20px;}
	.main_programme .timetable .cont p {font-size:15px;}
/* REGISTER */
	.main_register .flex {padding-right:240px;}
	.main_register .mtit {margin-bottom:16px;}
	.main_register p {font-size:16px;}
	.main_register .btn_more {line-height:60px; height:60px; padding:0 30px;}
/* ANNOUNCEMENTS,PAST FORUM VIDEO */
	.main_board .inner {gap:40px; flex-direction:column;}
	.main_board .box {width:100%;}
	.main_board .mtit h2 {font-size:32px;}
	.main_board .mtit .btn_link {position:absolute; top:50%; margin:0; transform:translateY(-50%);}
	.main_board .list {gap:10px;}
	.main_board .list li {width:calc(50% - 5px);}
	.main_board .list a {height:120px; padding:12px 20px;}
	.main_board .list .tit {font-size:18px;}
	.main_board .list .date {font-size:13px;}
	.main_board .video_box a,
	.main_board .video_box img,
	.main_board .video_box iframe {height:auto;}
}

/* ------------------------------ Mobile ------------------------------ */
@media screen and (max-width:767px){
/* main Visual */
	.main_slide .box {padding:50px 0;}
	.main_slide .txt .tit {font-size:26px;}
	.main_slide .txt p {font-size:14px; margin-top:6px; width:270px;}
	.main_slide .txt .info {margin-top:80px;}
	.main_slide .txt .info li {font-size:15px; padding-left:24px; background-size:22px;}
	.main_slide .txt .btn_link {font-size:15px; line-height:50px; height:50px; padding:0 20px; margin-top:16px;}
	.main_slide .navi {margin-top:-20px; padding-left:6px;}
	.main_slide .navi .visual-pagination {gap:12px; margin-right:24px;}
	.main_slide .navi .visual-pagination .swiper-pagination-bullet {width:6px; height:6px;}
	.main_slide .navi .visual-toggle.play {background-size:14px;}
	.mvisual .main_links,
	.mvisual .main_links li {height:50px;}
	.mvisual .main_links .inner {padding:0;}
	.mvisual .main_links a {gap:4px; height:50px; font-size:12px;}
	.mvisual .main_links a:before {width:22px;}
/* main 공통 */
	.mcon {padding:40px 0; font-size:13px;}
	.mtit {margin-bottom:20px;}
	.mtit h2 {font-size:30px;}
/* SPEAKERS */
	.slide_speaker {padding-top:10px;}
	.slide_speaker .swiper {padding:6vw 0 6vw 8.7vw;}
	.slide_speaker .swiper-slide {width:50vw;}
	.slide_speaker .swiper-slide .info {top:10px; left:10px; font-size:12px; line-height:24px; padding:0 8px;}
	.slide_speaker .swiper-slide .btm {bottom:10px; left:10px; max-width:calc(100% - 20px);}
	.slide_speaker .swiper-slide .session {font-size:12px;}
	.slide_speaker .swiper-slide .name {font-size:18px; margin-top:4px;}
	.slide_speaker .swiper-slide p {font-size:12px; line-height:1.4;}
	.main_speakers .navi {gap:10px; margin-top:20px;}
	.main_speakers .navi .arrow {width:30px; height:30px;}
	.main_speakers .navi .speaker-pagination {gap:4px;}
	.main_speakers .navi .speaker-pagination .swiper-pagination-bullet {width:20px;}
/* PROGRAMME */
	.main_programme .inner {gap:30px;}
	.main_programme .mtit {gap:16px; flex-direction:column; align-items:flex-start;}
	.main_programme .timetable {gap:8px;}
	.main_programme .timetable li {padding:20px; flex-direction:column;}
	.main_programme .timetable .time {width:100%; font-size:15px;}
	.main_programme .timetable .cont {width:100%; padding-left:0;}
	.main_programme .timetable .cont strong {font-size:16px;}
	.main_programme .timetable .cont p {font-size:14px;}
/* REGISTER */
	.main_register .flex {padding-right:0;}
	.main_register .mtit {margin-bottom:12px;}
	.main_register p {font-size:14px;}
	.main_register .btn_more {position:relative; line-height:50px; height:50px; padding:0 20px; margin-top:20px;}
	.main_register .btn_more:after {width:20px; height:20px;}
/* ANNOUNCEMENTS,PAST FORUM VIDEO */
	.main_board .inner {gap:30px;}
	.main_board .mtit h2 {font-size:24px;}
	.main_board .mtit .btn_link {position:relative; top:0; margin:20px 0 0; transform:none;}
	.main_board .list {gap:6px;}
	.main_board .list li {width:100%;}
	.main_board .list a {height:90px; padding:10px 16px;}
	.main_board .list .tit {font-size:16px;}
	.main_board .list .date {font-size:12px;}
}
