/* Programme */
	.g02.s01 .container {padding-bottom:0;}
	.gmt {color:#6B7684; line-height:1.65; padding-left:24px; margin-bottom:20px;}
/* Programme Book */
	.download_list {display:flex; flex-direction:column; gap:16px;}
	.download_list li {display:flex; justify-content:space-between; align-items:center; padding:24px 40px; background:#F9FAFB; border:#E5E8EB 1px solid; border-radius:16px;}
	.download_list p {width:calc(100% - 210px); font-size:22px; color:#191F28; font-weight:600; line-height:1.25;}

/* ------------------------------ PC Guide ------------------------------ */
@media screen and (max-width:1439px){
/* Programme */
	.gmt {padding-left:20px;}
/* Programme Book */
	.download_list li {padding:20px 34px;}
	.download_list p {/* width:calc(100% - 210px); */ font-size:20px;}
}

/* ------------------------------ Tablet PC ------------------------------ */
@media screen and (max-width:1023px){
/* Programme */
	.gmt {padding-left:16px; margin-bottom:16px;}
/* Programme Book */
	.download_list {gap:12px;}
	.download_list li {padding:16px 24px;}
}

/* ------------------------------ Mobile ------------------------------ */
@media screen and (max-width:767px){
/* Programme Book */
	.download_list {gap:10px;}
	.download_list li {padding:12px 16px; flex-direction:column; gap:10px;}
	.download_list p {width:100%; font-size:15px;}
	.download_list .btn_download {padding: 5px 20px; width:100%; justify-content: space-between;}
}