/* Steering Committee */
	.steering_committee_area .flex {flex-wrap:wrap; gap:48px 40px;}
	.steering_committee_area .flex + .flex {border-top:#0061C74D 1px solid; padding-top:64px; margin-top:64px;}
	.steering_committee_area li {width:calc((100% - 120px)/4);}
	.steering_committee_area .btn-open-modal {padding:24px; border-radius:16px; border:1px solid rgba(229, 232, 235, 0.2); box-shadow:0 4px 20px 0 rgba(0, 0, 0, 0.08); width:100%; height:100%; display:flex; flex-direction:column; align-items:flex-start; white-space:normal; text-align:left;}
	.steering_committee_area .imgfit,
	.popup_steering .imgfit {width:320px; aspect-ratio:320/348; max-width:100%; background:#F2F7FC; border-radius:8px; margin-bottom:24px; align-items:flex-end;}
	.steering_committee_area .imgfit img,
	.popup_steering .imgfit img {width:auto; height:auto; object-fit:contain; object-position:bottom;}
	.steering_committee_area .type {font-size:14px; font-weight:500; line-height:26px; padding:0 8px; border-radius:4px; border:1px solid; margin-bottom:16px;}
	.steering_committee_area .type.type-speaker {color:#3578B8; background:#E8F2FC; border-color:#3578B84D;}
	.steering_committee_area .type.type-moderator {color:#3B9B7A; background:#E8F8F3; border-color:#3B9B7A4D;}
	.steering_committee_area .type.type-panelist {color:#7565A8; background:#F0EEFA; border-color:#7565A84D;}
	.steering_committee_area .type.type-start-up {color:#B87924; background:#FFF4E5; border-color:#B879244D;}
	.steering_committee_area .name {font-size:24px; color:#191F28; font-weight:700; padding-bottom:12px; border-bottom:#0061C7 1px solid; margin-bottom:12px; width:100%;}
	.steering_committee_area .position {font-weight:600; line-height:1.65;}
	.steering_committee_area .affiliation {font-size:16px; color:#6B7684; line-height:1.65;}
	.popup_steering .profile {display:flex; align-items:center; gap:40px;}
	.popup_steering .info_area {width:calc(100% - 360px);}
	.popup_steering .name {font-size:40px; color:#191F28; font-weight:600; line-height:1.2;}
	.popup_steering .info {display:flex; flex-direction:column; align-items:flex-start; gap:4px; margin-top:24px;}
	.popup_steering .info p,
	.popup_steering .info .link {position:relative; padding-left:34px; font-weight:500; line-height:1.6;}
	.popup_steering .info .link {color:#004A98; text-decoration:underline;}
	.popup_steering .info p:before,
	.popup_steering .info p:after,
	.popup_steering .info .link:before {content:""; position:absolute; top:1px; left:0; width:26px; aspect-ratio:1/1; border-radius:50%; background:no-repeat 50% 50%;}
	.popup_steering .info p:before {background:linear-gradient(96deg, #0061C7 0%, #72D3AE 100%);}
	.popup_steering .info .position:after {background-image:url('/images/icon_position.svg');}
	.popup_steering .info .affiliation:after {background-image:url('/images/icon_affiliation.svg');}
	.popup_steering .info .link:before {background-image:url('/images/icon_linkedIn.svg'); background-size:contain !important;}
	.popup_steering .info .btn_download {margin-top:40px;}
	.popup_steering .modal-bio {margin-top:24px; height:346px; max-height:calc(100vh - 592px); padding:20px 24px; font-size:16px; color:#4E5968; line-height:1.65; overflow:auto; background:#F9FAFB; border:#E5E8EB 1px solid; border-radius:12px;}
	.popup_steering .modal-bio p + p {margin-top:12px;}

/* ------------------------------ PC Guide ------------------------------ */
@media screen and (max-width:1640px){
/* Steering Committee */
	.steering_committee_area .flex {gap:40px 20px;}
	.steering_committee_area .flex + .flex {padding-top:56px; margin-top:56px;}
	.steering_committee_area li {width:calc((100% - 60px)/4);}
	.steering_committee_area .btn-open-modal {padding:20px;}
	.steering_committee_area .imgfit,
	.popup_steering .imgfit {margin-bottom:20px;}
	.steering_committee_area .type {font-size:13px; line-height:24px; padding:0 6px; margin-bottom:12px;}
	.steering_committee_area .name {font-size:20px; padding-bottom:10px; margin-bottom:10px;}
	.steering_committee_area .affiliation {font-size:14px;}
}

/* ------------------------------ Tablet PC ------------------------------ */
@media screen and (max-width:1023px){
/* Steering Committee */
	.steering_committee_area .flex {gap:30px 10px;}
	.steering_committee_area .flex + .flex {padding-top:42px; margin-top:42px;}
	.steering_committee_area li {width:calc((100% - 20px)/3);}
	.steering_committee_area .btn-open-modal {padding:16px;}
	.steering_committee_area .imgfit,
	.popup_steering .imgfit {margin-bottom:16px;}
	.popup_steering .imgfit {width:280px;}
	.steering_committee_area .type {line-height:20px; padding:0 4px; margin-bottom:10px;}
	.steering_committee_area .name {font-size:18px; padding-bottom:8px; margin-bottom:8px;}
	.popup_steering .profile {gap:20px;}
	.popup_steering .info_area {width:calc(100% - 300px);}
	.popup_steering .name {font-size:30px;}
	.popup_steering .info {margin-top:20px;}
	.popup_steering .info .btn_download {margin-top:30px;}
	.popup_steering .modal-bio {margin-top:20px; height:320px; max-height:calc(100vh - 425px); font-size:14px;}
	.popup_steering .modal-bio p + p {margin-top:10px;}
}

/* ------------------------------ Mobile ------------------------------ */
@media screen and (max-width:767px){
/* Steering Committee */
	.steering_committee_area .flex {gap:24px 8px;}
	.steering_committee_area .flex + .flex {padding-top:36px; margin-top:36px;}
	.steering_committee_area li {width:100%;}
	.steering_committee_area .imgfit {width:100%;}
	.steering_committee_area .imgfit img,
	.popup_steering .imgfit img {height:100%;}
	.popup_steering .profile {gap:16px; flex-direction: column;}
	.popup_steering .info_area {width:100%;}
	.popup_steering .imgfit {width:100%;}
	.popup_steering .name {font-size:24px;}
	.popup_steering .info {margin-top:16px;}
	.popup_steering .info p,
	.popup_steering .info .link {padding-left:30px;}
	.popup_steering .info p:before,
	.popup_steering .info p:after,
	.popup_steering .info .link:before {width:20px;}
	.popup_steering .info p:after {background-size:80%;}
	.popup_steering .info .btn_download {margin-top:24px;}
	.popup_steering .modal-bio {margin-top:16px; height:auto; max-height:none; padding:16px; font-size:13px;}
	.popup_steering .modal-bio p + p {margin-top:8px;}
}